header {
  position: relative;
  top: 0px;
  //padding-top: 10px;
  left: 0;
  width: 100%;
  height: 35px;

//font-size: 20px;
 text-align: center;

  background-color: #63081a;
    background-image: -webkit-gradient(radial, 50% 50%, 200, 50% 50%, 20, from(rgb(98, 8, 25)), to(rgb(99, 8, 26)));
    background-image: -webkit-radial-gradient(50% 50%, rgb(99, 8, 26), rgb(98, 8, 25));

    color: #ffffff;

  font-family: 'Average';
  font-size: 250%;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
//line-height: 45px;

}


.appTitle {

  font-size: 17px;

  font-weight: bold;
  text-rendering: optimizelegibility;
  color: #FFFFFF;
  vertical-align: 30%;
}

header .appBar {
  float: left;
  padding-top: 3px;
  width: 250px

}

.header .appLogo {

}

.scolling_list_wrapper {
  position: absolute !important;
  z-index: 1;
  top: 36px !important;;
  bottom: 10px;
  left: 0;
  width: 100%;
  overflow: auto;
}